body {
    background-color: rgb(114, 113, 113);
}

h1{
    font-size: 60px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h2{
    font-size: 40px;
    font-weight: 100;
    color: #000;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h3{
    font-size: 40px;
    font-weight: 100;
    color: #000;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

}

/*Icon Bar*/
.icon-bar {
    width: 100%;
    background-color: #555; 
    overflow: auto; 
  }
  
  .icon-bar a {
    float: left; 
    text-align: center; 
    width: 20%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    color: white;
    font-size: 36px; 
  }
  
  .icon-bar a:hover {
    background-color: #000; 
  }
  
  .active {
    background-color: #4CAF50; 
  }


  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  /*Image Bar*/
 
  .image {
    width: 100%;
    height: auto;
  }
  
 
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(114, 113, 113);
  }
  
 
  .container:hover .overlay {
    opacity: 1;
  }
  
 
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
 
  .fa-kiss-wink-heart:hover {
    color: #eee;
  }